@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white ;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Fix Tawk iframe size */
#zp9bthr33fks1764826754896 {
  height: 380px !important;   /* adjust to your preferred height */
  width: 300px !important;
  max-height: 380px !important;
  min-height: 80px !important;
  bottom: 20px !important;
  right: 20px !important;
}

/* Also override inner iframe elements if needed */
iframe[id="zp9bthr33fks1764826754896"] {
  height: 380px !important;
  width: 300px !important;
  max-height: 380px !important;
}
